label {
    color: white;
    background-color: lightgreen;
    padding: 0em 0.5em 0.1em 0.5em;
}

select {
    color: white;
    background-color: lightgreen;
}

option {
    color: black;
    background-color: lightgreen;
}

option:focus {
    color: black;
    background-color: white;
}
